---
import {projects} from "../data/data.json";

---

<article>
    {
        projects.map((project) => (
            <div class="card">
                <div class="card-body">
                    <img src={project.image} alt={project.name} />
                    <h3 class="card-title">{project.name}</h3>
                    <p>{project.description}</p>
                    <a href={project.link}>Ver proyecto</a>
                </div>
            </div>
        ))
    }
</article>


<style>
    article {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }


    .card {
        display: flex; 
        flex-direction: column; 
        border-radius: 32px;
        width: 272px;
        height: 347px;
        box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.2);
        overflow: hidden; 
        
        border-style: solid;
        border-width: 2px;  
        background-color: #3d3846; 
        border-color: #3d3846;
    }
    .card-body{
        background-color: #444444;
        flex-grow: 1;
        padding: 24px 24px 16px 24px; 

    }

    .card-title{
        color: #b6ecf5;
        font-weight: bold;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif; 
        margin: 0px; 
        padding: 0px; 
    }
    .card-text{
        line-height: 1.5;
        margin: 10px 0px 10px 0px; 
        font-size: 16px;
    }

    
</style>